{{>partials/header}}
<main>
    {{#list}}
        <div class="movie">
            

            <img src="{{ image }}" alt="" class="poster">
            <h3>{{ name }}</h3>
            <h4><a href="/comment" >comentários: X</a></h4>

            
        </div>
    {{/list}}

        

        <div class="movie" id="addMovie">
            <button type="button" id="openModal">+</button>
            <h3>Adiocionar Filme</h3>
        </div>
    </main> 

    <dialog>
        <div class="headerModal">
            <h1>Adicionar filme</h1>
            <button type="button" id="closeModal">x</button>
        </div>

        <div class="getmovie">
            <input type="text" name="" id="postNameMovie" placeholder="Nome do filme">
            <input type="file" id="postImageMovie" accept="image/*">
            
            <label for="iest"></label>
            <select name="gênero" id="genreselector">
            <option value="comedy">comédia</option>
            <option value="drama">drama</option>
            <option value="romance">romance</option>
            <option value="other">outro</option>
            </select>
        </div>
        
        <div class="coment"> 
            <h5>Adicionar um comentário ao filme</h5>
            <input type="text" name="" id="postNameComent" placeholder="Nome">
            <textarea id="postComentTxt" placeholder="Digite o comentário aqui"></textarea>
            <input type="button" value="Enviar" id="sendComment">
        </div>

    </dialog>

{{>partials/footer}}