{{>partials/headerComment}}

<main>
            <div class="posterArea">
                <img src="movies/images/de_repente_30.jpg" alt="" id="moviePosterArea">
                <h3>Título</h3>
            </div>
            <div class="comentArea">
                <div class="addComent"> 
                    <h5 class="TitlePageComent">Adicionar uma avaliação ao filme:</h5>
                    <input type="text" name="" id="getNameComent" placeholder="Nome">
                    <textarea id="getComentTxt" placeholder="Digite o comentário aqui"></textarea>
                    <input type="button" value="Enviar" id="sendComment">
                </div>
                
                <div class="areaComentMovie">

                    <div class="comentMovie">

                        <h5 id="nameComentMovie">nome</h5>
                        <h5 id="txtComentMovie">
                            comentario comentário comentario comentário comentario comentário comentario comentário comentario comentário comentario comentário comentario comentário
                        </h5>

                    </div>

                </div>
                
            </div>
        </main>

{{>partials/footer}}