* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  header {
    top: 0;
    left: 0;
    width: 100%; /* Faz o menu ocupar toda a largura */
    z-index: 1000;
    position: fixed;

    background-color: #A67C87;
    margin: 0px;
    padding: 10px;
    border-radius: 0 0 30px 30px;
    color: #F2DCE0;
    
    display: flex;
    justify-content: center;
    gap: 50px;
}
header h2, h3 {
    font-size: 20px;
} 
#search{
    background-color: #F2DCE0;
    padding: 2px;
    border: none;
    border-radius: 5px;
}
header h3:hover {
    background-color: #F2C4D0;
    padding-right: 10px;
    padding-left: 10px;
    color: #594246;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #594246a0;
  }


main{
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    padding: 30px;
}
#moviePosterArea{
    width: 350px; 
    height: 430px;
    border-radius: 10px;
}
.posterArea{

        position: sticky;
        top: 100px; /* Ajuste para a altura desejada */

}
.posterArea h3 {
    text-align: center;
    color: #594246;
    margin-top: 15px;
}

.TitlePageComent {
    color: #594246;
    font-size: 20px;
    margin-bottom: 20px;
}
.comentArea{
    
   
}
.addComent{
    display: flex;
    flex-direction: column;
}

#getNameComent{
    border: none;
    border-radius: 5px;
    background-color: #59424656;
    color: #fff;
    font-size: 15px;
    width: 200px;
    height: 30px;
}
#getComentTxt{
    border: none;
    border-radius: 5px;
    background-color: #5942461d;
    font-size: 15px;
    height: 100px;
    width: 600px;
    margin-bottom: 30px;

}

#getNameComent, #getComentTxt{
    padding: 10px;
}
.areaComentMovie{
    display: flex;
    flex-direction: column;
    gap: 15px;
    pa
}
.comentMovie{
    background-color: #A67C87;
    border-radius: 10px;
}

footer {
    position: fixed;
    width: 100%; /* Faz o menu ocupar toda a largura */
    z-index: 1000;
    bottom: 0;

    background-color: #594246;
    color: #f2c4d0d3;
    font-size: 20px;
    text-align: center;
    height: 84px;
    display: flex; /* Habilita o uso de flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    border-radius: 30px 30px 0px 0px;
}
footer a {
    text-decoration: none;
    color: #fff;
}