<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="PageComent.css">
    <title>Document</title>

</head>
<body>
    <header>
        <h2>acervo filmes 2000's</h2>
        <h3><a href="/">tudo</a></h3>
        <h3><a href="/comedia">comédia</a></h3>
        <h3><a href="/drama">drama</a></h3>
        <h3><a href="/romance">romance</a></h3>
        <form method="GET" action="/search">
            <input type="search" name="q" id="search" placeholder="Buscar">
        </form>
        
    </header>